h2{
    text-align: center;color: blue;
}
.cont-1{
    background-color: transparent;
    border-radius: 15px;
    height: auto;
    width: 90%;
    margin: 2rem auto;
    text-align: center;
    border: solid rgb(189, 183, 183) 2pt;
}
.text{
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    color: rgb(29, 28, 28);
    font-weight: 600;
    font-size: 1rem;
    color: cornflowerblue;
}
select{
    width: 30%;
    height: 20pt;
    border: solid rgb(151, 151, 151) 3px;
}
.inp1{
    width: 40%;
     height: 20pt;
     border: solid rgb(151, 151, 151) 3px;
     border-radius: 5px;
    }
button{
    width: 20%;
    height: 2.5rem;background-color:aliceblue ;
    border-radius: 5pt;
    border: solid rgb(24, 23, 23) 2pt;
}
h2{
    color: cornflowerblue;
}
@media screen and (max-width: 809px){
    h1{font-size: 4rem !important;font-weight: 600;}
    .cont-1{height: auto;}
}
